{% extends "base.html" %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/therapists.css' %}">
{% endblock %}

{% block content %}
<div class="d-flex align-items-center flex-column mt-4">
    <h3>Психотерапевты</h3>
    {% for therapist in therapists %}
        <div class="d-flex my-3 person flex-wrap">
            <img src="{{ therapist.photo }}" height="380" width="230" class="mx-3">
            <div class="data">
                <p class="name">{{ therapist.name }}</p>
                <h6>Методы:</h6>
                <div class="d-flex flex-row flex-wrap">
                    {% for method in therapist.methods %}
                        <span class="method">
                            {{ method.title }}
                        </span>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}